button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: skyblue;
    border-radius: 5px;
}

body{
    background-color: whitesmoke;
    min-width: 100%;
    min-height: 100%;
}